body {
  background-color: #1e2d5d;
  color:white;
  margin: 110px;
  font: 32px "Century Gothic", Futura, sans-serif;
}

.game  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: #a29d9d;
  color:white;
  border: 1px solid #999999;
  padding: 0;
  font-size: 88px;
  text-align: center;
  width: 120px;
  height: 120px;
}

.square:focus {
  outline:none;
  background-color: #1e2d5d;
}

.status {
  margin: 20px;
  font-size: 24px;
  text-align: center;
}
